<!DOCTYPE html>
<html>

<body style="padding: 0%; margin: 0%;">
    <h2>Hi Mr. So and So</h2>
                <div style="background-color:white; ">
                <div class="post" style="border-bottom: 1px solid #adb5bd;color: #666;margin-bottom: 15px; padding-bottom: 15px;">
              <div class="user-block" style="margin-bottom: 15px; width: 100%; float: left;">
                <img class="img-circle img-bordered-sm" style="float: left; height: 40px;width: 40px; width: 1.875rem; height: 1.875rem; vertical-align: middle;border-style: none; border-radius: 50%; border: 2px solid #adb5bd; padding: 2px;" src="/images/Emply_1625968697IMG_0354.JPG" alt="user image">
                <span class="username" style="display: block; margin-left: 50px; font-size: 16px; font-weight: 600; margin-top: -1px; margin-left: 40px; font-size: 14px;">
                  <a href="#">Name</a>
                </span>
                <span class="description" style="display: block; margin-left: 50px; color: #6c757d; font-size: 13px; margin-top: -3px; margin-left: 40px;">
                	<span class="fa fa-calendar-day"></span>
                	<span><b>Date</b></span>
            	</span>
              </div>
              <div style="text-decoration: underline;">
               Task title
              </div>
              <p>
              </p>
        </div>
                
    </div>
</body>

</html>