<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="_csrf" content="<%= csrfToken %>">

    <title>
        <%= pageTitle || 'Staidorf Consult' %>
    </title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">

    <link href="/css/fullcalendar/main.css" rel="stylesheet">

    <!-- <link href="/css/bootstrap.css" rel="stylesheet"> -->
    <!-- <link href="/css/bootstrap.min.css" rel="stylesheet"> -->

    <link href="/css/forms.css" rel="stylesheet">

    <link href="/DataTables/datatables.css" type="text/css" rel="stylesheet">
    
    <!-- <link href="/css/jquery.dataTables.css" type="text/css" rel="stylesheet"> -->

    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css" /> -->

      <link rel="stylesheet" href="/summernote/summernote-bs4.min.css">

<!-- <link rel="stylesheet" href="/plugins/select2/select2.min.css"> -->
  <link rel="stylesheet" href="/plugins/css/adminlteprogress.css">
  <link rel="stylesheet" href="/plugins/toastr/toastr.min.css">
  <!-- <link rel="stylesheet" href="/plugins/dropzonedropzone.min.css"> -->

  <!-- <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="/plugins/datatables-buttons/css/buttons.bootstrap4.min.css"> -->
  

    <link rel="icon" type="image/jpg" href="/img/icon.png">
    <style>
        .note-editable { background-color: white; color: black; }
        .users-list>li img {
              border-radius: 50%;
              height: 67px;
              width: 67px;
              object-fit: cover;
          }
          .users-list>li {
            width: 33.33% !important
          }
          .truncate {
            -webkit-line-clamp:1 !important;
          }
    </style>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">